@font-face {
    font-family: 'IvyPresto';
    src: url('../assets/ivy-presto-display-thin.otf') format('opentype');
    font-weight: light;
}

@font-face {
  font-family: 'Orator';
  src: url('../assets/OratorStd.otf') format('opentype');
  font-weight: normal;
}

@font-face {
    font-family: 'Laine';
    src: url('../assets/Laine.TTF') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Adeptly';
    src: url('../assets/AdeptlyRegular-OVz6d.ttf') format('truetype');
    font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-button {
  position: absolute;
  top: 2vh;
  right: 2vh;
  padding: 1vh 2vh;
  color: #000;
  text-decoration: none;
  font-family: 'Orator';
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.home-button:hover {
  transform: scale(1.15);
}

.home-button a:active {
    text-decoration: none;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 3vw;
  font-family: "Orator", serif;
}  

.title {
  position: absolute;
  top: 2vh;
  font-family: 'IvyPresto'; 
  font-size: 6vw; 
  color: #471224;
  text-align: center;
  z-index: 1;
}

.container {
  position: relative;
  width: 60vw;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate {
    position: absolute;
    top: -10vh;
    width: 70vw;
    height: auto;
    z-index: 1;
}

/* code adapted from https://www.w3schools.com/css/css3_mediaqueries.asp*/
.cloche {
    position: absolute;
    top: -10vh;
    width: 70vw;
    height: auto;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.cloche.rotated {
    transform: rotate(-45deg) translate(5vh, -20vw);
}

/* code adapted from https://www.w3schools.com/css/css3_mediaqueries.asp*/
.nav {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 6vh;
  width: 60%;
  text-align: center;
  z-index: 1;
  transition: bottom 0.3s ease, line-height 0.3s ease;
}

.nav a {
  color: #FFF2E2;
  text-decoration: none;
  font-family: 'Orator';
  font-weight: bold;
  font-size: clamp(0.5rem, 1.3vw, 1.5rem);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.nav a:hover {
  transform: scale(1.25);
}

.nav a:active {
    text-decoration: none;
}

.red-paper {
  position:absolute;
  z-index: -2;
  top: 20vh;
  align-content: center;
  width:60%;
  height:70%;
  transform: rotate(-2deg);
}

.white-paper {
  position:absolute;
  z-index: -1;
  top: -10vh;
  align-content: center;
  width:75vw;
  height:auto;
  transform: rotate(1deg);
}

@media (max-width: 1280px) {
  .nav {
    bottom: 45%;
    line-height: 6vh;
  }
}

@media (max-width: 1024px) {
  .nav {
    bottom: 50%;
    line-height: 4.5vh;
  }
}

@media (max-width: 820px) {
  .nav {
    bottom: 55%;
    line-height: 4vh;
    width: 70%;
  }

  .home-button {
    font-size: 3vw;
  }
}
