@font-face {
    font-family: 'Adeptly';
    src: url('./assets/AdeptlyRegular-OVz6d.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Orator';
    src: url('./assets/OratorStd.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('./assets/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: ivory;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 3vw;
  font-family: "Orator", serif;
  background: repeating-linear-gradient(
    90deg,
    rgba(255, 198, 79, 0.25),
    rgba(255, 198, 79, 0.25) 25px,
    rgba(255, 255, 240, 0.25) 25px,
    rgba(255, 255, 240, 0.25) 50px
  );
}  

/*homepage*/

.title {
    position: absolute;
    top: 5vh;
    font-family: Luckiest Guy;
    font-weight: normal;
    font-size: 6vw;
    color: #519cab;
    text-align: center;
    z-index: 1;
}

.container {
  position: relative;
  width: 60vw;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  position: absolute;
  z-index: -1;
  left: -20vw;
  bottom: 27vw;
  scale: 70%;
}

.table-2 {
  position: absolute;
  z-index: -1;
  right: -20vw;
  bottom: 27vw;
  scale: 65%;
}

.plate {
    position: absolute;
    top: -10vh;
    width: 70vw;
    height: auto;
    z-index: 1;
}

/* code adapted from https://www.w3schools.com/css/css3_mediaqueries.asp*/
.cloche {
    position: absolute;
    top: -10vh;
    width: 70vw;
    height: auto;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.cloche.rotated {
    transform: rotate(-45deg) translate(5vh, -20vw);
}

/* code adapted from https://www.w3schools.com/css/css3_mediaqueries.asp*/
.nav {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 6vh;
  width: 60%;
  text-align: center;
  z-index: 1;
  transition: bottom 0.3s ease, line-height 0.3s ease;
}

.nav a {
  color: #20373b;
  text-decoration: none;
  font-family: 'Orator';
  font-weight: bold;
  font-size: clamp(0.5rem, 1.3vw, 1.5rem);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.nav a:hover {
  transform: scale(1.25);
}

.nav a:active {
    text-decoration: none;
}

@media (max-width: 1280px) {
  .nav {
    bottom: 45%;
    line-height: 6vh;
  }
}

@media (max-width: 1024px) {
  .nav {
    bottom: 50%;
    line-height: 4.5vh;
  }
}

@media (max-width: 820px) {
  .nav {
    bottom: 55%;
    line-height: 4vh;
    width: 70%;
  }
}
