            <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">

        <style>
      body {
        text-align: center
      }
        ul {
        list-style: none;
        line-height: 2;
        font-family: 'Playwrite DE Grund', cursive;
        font-size: 125%;
      }