@font-face {
    font-family: 'IvyPresto';
    src: url('../assets/ivy-presto-display-thin.otf') format('opentype');
    font-weight: light;
}

@font-face {
  font-family: 'Orator';
  src: url('../assets/OratorStd.otf') format('opentype');
  font-weight: normal;
}

@font-face {
    font-family: 'Laine';
    src: url('../assets/Laine.TTF') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Adeptly';
    src: url('../assets/AdeptlyRegular-OVz6d.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-button {
  position: absolute;
  top: 2vh;
  right: 2vh;
  padding: 1vh 2vh;
  color: #000;
  text-decoration: none;
  font-family: 'Orator';
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.home-button:hover {
  transform: scale(1.15);
}

.home-button a:active {
    text-decoration: none;
}

body {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 1vw;
    font-family: "Orator", serif;
}

header {
    text-align: center;
    font-family: 'IvyPresto'; 
    font-size: 6vw; 
    color: #471224;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2vw;
    color: #AA4D68;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 100%;
}

.flip-card {
    background-color: transparent;
    width: 22%;
    aspect-ratio: 1 / 1;
    perspective: 1000px;
    transform: rotate(-2deg);
}

.flip-card:nth-child(1) { margin-right: 0.8%; margin-top: 0.8%; }
.flip-card:nth-child(2) { margin-right: 1%; margin-top: 1.2%; transform: rotate(1deg);  }
.flip-card:nth-child(3) { margin-right: 1.3%; margin-top: 0%; transform: rotate(-1deg); }
.flip-card:nth-child(4) { margin-right: -0.5%; margin-top: 0.9%; transform: rotate(2deg); }
.flip-card:nth-child(5) { margin-right: 0;  margin-top: 0.2%; transform: rotate(-3deg); }


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.emoji {
    font-size: 4rem;
    margin-bottom: 15px;
}

.mood-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "Orator";
    line-height: 1.2;
}

.mood-subtitle {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin-top: 8px;
    font-family: "Orator";
    line-height: 1.2;
}

.restaurant-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 2px;
    color: white;
    font-family: "Orator";
    line-height: 1.1;
}

.restaurant-name:first-child {
    margin-top: 0;
}

.restaurant-type {
    font-size: 0.75rem;
    color: white;
    margin-bottom: 8px;
    font-family: "Orator";
    line-height: 1.1;
}

@media (max-width: 768px) {
    .card-container {
        flex-wrap: wrap;
        width: 90%;
        gap: 7%;
    }
    
    .flip-card {
        width: 75%;
    }
    
    .emoji {
        font-size: 4rem;
    }
    
    .mood-title {
        font-size: 1.5rem;
    }
    
    header {
        font-size: 5vw;
    }
    
    .subtitle {
        font-size: 3vw;
    }
}