@font-face {
    font-family: 'IvyPresto';
    src: url('../assets/ivy-presto-display-thin.otf') format('opentype');
    font-weight: light;
}

@font-face {
  font-family: 'Orator';
  src: url('../assets/OratorStd.otf') format('opentype');
  font-weight: normal;
}

@font-face {
    font-family: 'Laine';
    src: url('../assets/Laine.TTF') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Adeptly';
    src: url('../assets/AdeptlyRegular-OVz6d.ttf') format('truetype');
    font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-button {
  position: absolute;
  top: 2vh;
  right: 2vh;
  padding: 1vh 2vh;
  color: #000;
  text-decoration: none;
  font-family: 'Orator';
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.home-button:hover {
  transform: scale(1.15);
}

.home-button a:active {
    text-decoration: none;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1vw;
  font-family: "Orator", serif;
}

li {
  margin-bottom: 10px;
}

.page-content-0 ul li {
  position: relative;
  padding-left: 30px;
  list-style: none;
}

.page-content-0 ul li::before {
  content: url("./assets/star.png");
  position: absolute;
  list-style-position: outside;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header {
  text-align: center;
  align-self: flex-start;
  font-family: 'IvyPresto'; 
  font-size: 6vw; 
  color: #471224;
}

.red-checks {
  position: absolute;
  top: 24vh;
  display: flex;
  align-items: center;
  z-index: -9;
  width: 100%;
  opacity: 50%;
}


.illustration {
  position: absolute;
  width:38vw;
  z-index: 0;
  bottom: -70vh;
  left:3vw;
}

.container {
  position: absolute;
  width: 35vw;
  height: 85vh;
  min-width: 400px;
  min-height: 550px;
}

.fastener {
  pointer-events: all;
  cursor: pointer;
}

.paper-clip {
  position: absolute;
  top: 26%;
  left: 1.9%;
  width: 2vw;
  height: 2vw;
  min-width: 20px;
  min-height: 20px;
  z-index: 100;
}

[class^="page"] {
  position: absolute;
  cursor: pointer;
  transition: transform 0.8s ease;
  transform-origin: 18% 2%;
  overflow: hidden;
}

.page-0 {
  width: 105%;
  height: 110%;
  background: #FFF2E2;
  top: 24%;
  left: -5%;
  z-index: 6;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.page-1 {
  width: 65%;
  height: 100%;
  background: #AA4D68;
  top: 24%;
  left: -5%;
  z-index: 5;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.page-2 {
  width: 80%;
  height: 85%;
  background: #B68FA4;
  top: 24%;
  left: -5%;
  z-index: 4;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);

}

.page-3 {
  width: 90%;
  height: 105%;
  background: #7C152B;
  top: 24%;
  left: -5%;
  z-index: 3;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.page-4 {
  width: 80%;
  height: 115%;
  background: #471224;
  top: 24%;
  left: -5%;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.page-5 {
  width: 110%;
  height: 115%;
  background: #2A1623;
  top: 24%;
  left: -5%;
  z-index: 1;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.page-header-0 {
  padding-top: 5vw;
  padding-left: 2.9vw;
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: black;
}

.page-header-1 {
  padding-top: 5vw;
  padding-left: 3vw;
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: white;
}

.page-header-2 {
  padding-top: 5vw;
  padding-left: 3.3vw;
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: white;
}

.page-header-3 {
  padding-top: 5vw;
  padding-left: 3.5vw;
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: white;
}

.page-header-4 {
  padding-top: 5vw;
  padding-left: 3.7vw;
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: white;
}

.page-header-5 {
  padding-top: 5vw;
  padding-left: 4.1vw;
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: white;
}

.page-content-0 {
  padding-top: 11vw;
  padding-left: 2.7vw;
  padding-right: 9%;
  font-size: 1vw;
  color: black;
  margin-bottom: 3%;
  font-family: "Orator", serif;
}

.page-content-0 p {
  font-family: "Orator", serif;
  font-size: 1.2vw;
  color: black;
}

.page-content-0 li {
  margin-bottom: 8%;
}

.page-content-1 {
  padding-top: 11vw;
  padding-left: 3vw;
  padding-right: 9%;
  font-size: 1vw;
  color: white;
  margin-bottom: 3%;
  font-family: "Orator", serif;
}

.page-content-2 {
  padding-top: 11vw;
  padding-left: 3.3vw;
  padding-right: 9%;
  font-size: 1vw;
  color: white;
  margin-bottom: 3%;
  font-family: "Orator", serif;
}

.page-content-3 {
  padding-top: 11vw;
  padding-left: 3.5vw;
  padding-right: 9%;
  font-size: 1vw;
  color: white;
  margin-bottom: 3%;
  font-family: "Orator", serif;
}

.page-content-4 {
  padding-top: 11vw;
  padding-left: 3.7vw;
  padding-right: 9%;
  font-size: 1vw;
  color: white;
  margin-bottom: 3%;
  font-family: "Orator", serif;
}

.page-content-5 {
  padding-top: 11vw;
  padding-left: 4.1vw;
  padding-right: 9%;
  font-size: 1vw;
  color: white;
  margin-bottom: 3%;
  font-family: "Orator", serif;
}

.page-0.rotated {
  transform: rotate(130deg);
  z-index: 56;
}

.page-1.rotated {
  transform: rotate(115deg);
  z-index: 55;
}

.page-2.rotated {
  transform: rotate(110deg);
  z-index: 54;
}

.page-3.rotated {
  transform: rotate(120deg);
  z-index: 53;
}

.page-4.rotated {
  transform: rotate(105deg);
  z-index: 52;
}

.page-5.rotated {
  transform: rotate(100deg);
  z-index: 51;
}

.final-page {
  position: absolute;
  width: 110%;
  height: 115%;
  background: #D2AF8A;
  top: 24%;
  left: -5%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper-62 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-62 *,
.checkbox-wrapper-62 ::after,
.checkbox-wrapper-62 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-62 {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper-62 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-62 .label {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.checkbox-wrapper-62 .label span {
  font-family: "Adeptly", sans-serif;
  font-size: 3vw;
  color: white;
  text-transform: lowercase;
}

.checkbox-wrapper-62 .label svg {
  vertical-align: middle;
  width: 4vw;
  height: 4vw;
  min-width: 50px;
  min-height: 50px;
}

.checkbox-wrapper-62 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s all;
}

.checkbox-wrapper-62 .check:checked + label svg g path {
  stroke-dashoffset: 0;
}